doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title TRENDS
    link(href='https://fonts.googleapis.com/css?family=Dosis:400,700', rel='stylesheet')
    link(href='./stylesheets/style1.css', rel='stylesheet')
  body
    #root
    script(src='./javascripts/formulario.js')